# Environments
venv/
.venv/
env/
ENV/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.hypothesis/

# IDEs
.vscode/
.idea/
.DS_Store

# Mobile / Build
node_modules/
.expo/
**/local.properties
**/build/
**/dist/
*.apk

# Jupyter
.ipynb_checkpoints

# ML Pipeline Data & Artifacts
*.npy
ml-pipeline/data/processed/*.joblib
ml-pipeline/reports/
ml-pipeline/logs/
ml-pipeline/models/*.h5
ml-pipeline/models/*.pkl
ml-pipeline/.pytest_cache/

# Documentation
SDD/
SRS/
