# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/key.properties
android/local.properties
android/.idea/
android/.settings/

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/.generated/
ios/Podfile.lock
ios/Pods/

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Misc
.DS_Store